.Home-top-bar {
  padding: 20px 0;
}

.Home-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 30px;
}

.Home-card {
  border-radius: 3px;
  height: 150px;
}

.Home-card > h4 {
  margin: 0;
}